<div class="container">
  <div class="col-sm-12">
    <div class="row">

			<div class="page-header">
			  <h1><%= t('pages.visitors.index.title') %><br> 
			  <small><%= t('pages.visitors.index.title_sub') %></small></h1>
			</div>

		</div>
	</div>
</div>
