<div class="col-sm-12">
  <h3><span class="glyphicon glyphicon-file" aria-hidden="true"> 
    <%= t "pages.individual.index.title" %>  
    </span>
  </h3>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <table id="individuals" class="hover cell-border" data-source="<%= datatables_index_individuals_path(format: :json) %>">
    <thead>
      <tr>
        <th> 0 ID </th>
        <th> 1 IMAGE-PATH</th>
        <th> 2 Number</th>
        <th> 3 Date of issue</th>
        <th> 4 Valid thru</th>
        <th> 5 license_status</th>
        <th> 6 Call Sign</th>
        <th> 7 Category</th>
        <th> 8 Transmitter Power</th>
        <th> 9 Certificate.fullname</th>
        <th>10 Customer.fullname_and_address</th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <div class="row">

     <% if policy(:individual).new? %>
      <%= link_to t('New', default: t("helpers.links.new")), new_individual_path(), 
                          :class => 'btn btn-primary glyphicon glyphicon-plus' %> 

    <% end %>

  </div> <!--/row -->
</div> <!--/col-sm-12 -->
