<div class="col-sm-12">
  <div class="row">
    <h3 class="center">
      <span class="glyphicon glyphicon-heart glyp-index-title" aria-hidden="true"></span>
      <span class="index-title"><%= t "pages.user.index.title" %></span>
    </h3>
  </div> <!--/row -->
</div> <!--/col-sm-12 -->

<div class="col-sm-12">
  <table id="users" class="hover cell-border" width="100%" data-source="<%= datatables_index_users_path(format: :json) %>">
    <thead>
      <tr>
        <th> 0 ID </th>
        <th> 1 name </th>
        <th> 2 email </th>
        <th> 3 department.short </th>
        <th> 4 current_sign_in_ip </th>
        <th> 5 current_sign_in_at </th>
        <th> 6 last_activity_at </th>
        <th> 7 password_changed_at </th>
        <th> 8 deleted_at </th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
