<div class="row">
  <hr>
</div> <!--/row -->

<div class="row">
  <div class="col-sm-1">
    <%= image_tag('b.png') %>
    <%= t "pages.b.index.title" %>
  </div> <!--/col-sm-1 -->

  <div class="col-sm-11">

  </div> <!--/col-sm-11 -->
  <div class="row">
    <br>
  </div> <!--/col-sm-12 -->
</div>