// Place all the styles related to the Esod::Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-esod-matter {
  border-color: #ddd  
}
.panel-esod-matter > .panel-heading {
  background:  #091a2a;
  color: white; 
}

.panel-esod-incoming-letter {
  border-color: #ddd  
}
.panel-esod-incoming-letter > .panel-heading {
  background:  #1b4d7e;
  color: white; 
}

.panel-esod-outgoing-letter {
  border-color: #ddd  
}
.panel-esod-outgoing-letter > .panel-heading {
  background:  #2d80d2; 
  color: white; 
}

.panel-esod-internal-letter {
  border-color: #ddd  
}
.panel-esod-internal-letter > .panel-heading {
  background:  #81b3e4;
  color: white; 
}
