// Place all the styles related to the Esod::Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-esod-matter {
  border-color: #ddd  
}
.panel-esod-matter > .panel-heading {
  background:  #6495ed; //#99ccff;
  color: white; 
}

.panel-esod-incoming-letter {
  border-color: #ddd  
}
.panel-esod-incoming-letter > .panel-heading {
  background:  #6495ed; //#99ccff;
  color: white; 
}

.panel-esod-outgoing-letter {
  border-color: #ddd  
}
.panel-esod-outgoing-letter > .panel-heading {
  background:  #6495ed; //#99ccff;
  color: white; 
}

.panel-esod-internal-letter {
  border-color: #ddd  
}
.panel-esod-internal-letter > .panel-heading {
  background:  #6495ed; //#99ccff;
  color: white; 
}
