// Place all the styles related to the Esod::Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-esod-matter {
  border-color: #ddd  
}
.panel-esod-matter > .panel-heading {
  background: #00b0b3;
  color: white; 
}

.panel-esod-letter {
  border-color: #ddd  
}
.panel-esod-letter > .panel-heading {
  background: #00b0b3;
  color: white; 
}

