<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('proposals.form_step5.fieldset_title') %></legend>

  <div class="row">

    <div class="form-group col-sm-6">
      <% unless partial_data.bank_pdf_blob_path.blank? %>
          <%= link_to( Proposal.human_attribute_name(:bank_pdf), "#{Rails.application.secrets[:egzaminy_host]}#{partial_data.bank_pdf_blob_path}", target: "_blank") %>        
      <% end %>
    </div>
    
    <% if partial_data.division.face_image_required %>
      <div class="form-group col-sm-6">
        <% unless partial_data.face_image_blob_path.blank? %>
          <%= link_to( Proposal.human_attribute_name(:face_image), "#{Rails.application.secrets[:egzaminy_host]}#{partial_data.face_image_blob_path}", target: "_blank") %>
        <% end %>
      </div>
    <% end %>

  </div> <!--/row -->
        
</fieldset>

