<div class="col-sm-12">
  <div class="row">
    <h3 class="center">
      <span class='<%= t("pages.proposal.model_icon") %> glyp-index-title' aria-hidden="true"></span>
      <span class="index-title"><%= t "pages.proposal_#{params[:category_service]}.index.title" %></span>
    </h3>
  </div> <!--/row -->
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <table id="proposals" class="hover cell-border" width="100%" data-source="<%= datatables_index_proposals_path(format: :json) %>">
    <thead>
      <tr>
          <th> 0 ID </th>
          <th> 1 Created at</th>
          <th> 2 proposal_status.name</th>
          <th> 3 Name</th>
          <th> 4 Given names</th>
          <th> 5 Pesel</th>
          <th> 6 Birth date</th>
          <th> 7 C City address</th>
          <th> 8 division.name</th>
          <th> 9 exam.number</th>
          <th>10 Category</th>
          <th>11 Akcje</th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->

