  <div class="col-sm-12">
    <table id="role-users" class="hover cell-border compact" width="100%" data-source="<%= datatables_index_role_users_path(role_id: @role.id, format: :json) %>">
      <thead>
        <tr>
          <th                 > 0 ID </th>
          <th class="col-sm-4"> 1 Name</th>
          <th class="col-sm-4"> 2 Email</th>
          <th class="col-sm-2"> 3 Department</th>
          <th class="col-sm-1"> 4 Uprawnienie</th>
          <th class="col-sm-1"> 5 Akcje</th>
        </tr>
      </thead>

      <tbody>
         <!--data from JSON -->
      </tbody>
    </table>
  </div> <!--/col-sm-12 -->