//document.addEventListener('turbolinks:load', function() {
$(document).ready(function() {

        // formatResult: function(result, container, query, escapeMarkup) {
        //     var markup=[];
        //     markMatch(this.text(result), query.term, markup, escapeMarkup);
        //     return markup.join("");
        // },

  function addressFormatResult(item, container, query, escapeMarkup) {
    if (item.id) {
      var cityName = markMatch(item.data_obj.cityName, query.term);
      if (item.data_obj.cityName !== item.data_obj.parentCityName) {
        var cityName = cityName + "&nbsp(" + markMatch(item.data_obj.parentCityName, query.term) + ")";
      };

      if (item.data_obj.postCodeNumbers) {
        var postNumbers = "&nbsp&nbsp<small>numery:&nbsp" + item.data_obj.postCodeNumbers + "</small>";
      } else {
        var postNumbers = "";
      };

      var provinceName = markMatch(item.data_obj.provinceName, query.term);
      var districtName = markMatch(item.data_obj.districtName, query.term);
      var communeName = markMatch(item.data_obj.communeName, query.term);
      var postCode = markMatch(item.data_obj.postCode, query.term);

      if (item.data_obj.streetName) {
        var streetName =  ", <small>" + item.data_obj.streetAttribute + "</small> " + markMatch(item.data_obj.streetName, query.term);
      } else {
        var streetName = "";
      };

      return                  cityName + streetName  +         "<div class='pull-right'>&nbsp" + provinceName + "</div><br>" + 
                              postCode + postNumbers +         "<div class='pull-right'>&nbsp" + districtName + "</div><br>" +
                  "<small>" + item.data_obj.cityTypeName + "</small><div class='pull-right'>&nbsp" + communeName + "</div>";

    } else {
      return "";
    }
  };

  function addressFormatSelection(item) {
    if (item.id) {
      var cityName = item.data_obj.cityName;
      if (item.data_obj.cityName !== item.data_obj.parentCityName) {
        var cityName = cityName + " (" + item.data_obj.parentCityName + ")";
      };

      if (item.data_obj.postCode) {
        var postCode = ", " + item.data_obj.postCode; 
      } else {
        var postCode = "";
      };

      if (item.data_obj.streetName) {
        var streetName =  ", " + item.data_obj.streetAttribute + " " + item.data_obj.streetName;
      } else {
        var streetName = "";
      };

      return  cityName + streetName + postCode + 
              ' [' + item.data_obj.provinceName + 
              ', ' + item.data_obj.districtName + 
              ', ' + item.data_obj.communeName + 
              '] ' + item.data_obj.cityTypeName;
    } else {
      return "";
    }
  };

  $('#customer_address_select2teryt_items').select2({ 
    minimumInputLength: 5,
    allowClear: false,
    ajax: {
      url: "/api_teryt/items.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 30,
          page: page
        };
      },
      results: function(data, page) {
        var more = (page * 30) < data.total;
        var items = $.map(data.items, function(item, i) {
          //return { data_obj: item, id: item.id, text: item.cityName };
          return { data_obj: item, id: item.combineId };
        });
        return { results: items, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/api_teryt/items/"+id+".json", function(data_from_json) {
          if(data_from_json)
            //callback({ data_obj: data_from_json, id: data_from_json.id, text: 'data_from_json.cityName' });
            callback({ data_obj: data_from_json, id: data_from_json.combineId });
        });
      }
    },
    formatResult: addressFormatResult, // omitted for brevity, see the source of this page
    formatSelection: addressFormatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
  })
  .on("select2-selecting", function(e) {
    //document.getElementById("customer_lives_in_poland").value = true;
    document.getElementById("customer_province_name").value = e.choice.data_obj.provinceName;
    document.getElementById("customer_province_code").value = e.choice.data_obj.provinceCode;
    document.getElementById("customer_district_name").value = e.choice.data_obj.districtName;
    document.getElementById("customer_district_code").value = e.choice.data_obj.districtCode;
    document.getElementById("customer_commune_name").value = e.choice.data_obj.communeName;
    document.getElementById("customer_commune_code").value = e.choice.data_obj.communeCode;
    document.getElementById("customer_city_name").value = e.choice.data_obj.cityName;
    document.getElementById("customer_city_code").value = e.choice.data_obj.cityCode;
    document.getElementById("customer_city_parent_name").value = e.choice.data_obj.parentCityName;
    document.getElementById("customer_city_parent_code").value = e.choice.data_obj.parentCityCode;
    document.getElementById("customer_street_name").value = e.choice.data_obj.streetName;
    document.getElementById("customer_street_code").value = e.choice.data_obj.streetCode;
    document.getElementById("customer_street_attribute").value = e.choice.data_obj.streetAttribute;
    if(e.choice.data_obj.postCode) {
      document.getElementById("customer_post_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_post_code_numbers").value = e.choice.data_obj.postCodeNumbers;

      document.getElementById("customer_address_postal_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_address_postal_code").readOnly = true;
    } else {
      document.getElementById("customer_post_code").value = "";
      document.getElementById("customer_post_code_numbers").value = "";

      document.getElementById("customer_address_postal_code").value = "";
      document.getElementById("customer_address_postal_code").readOnly = false;
    };
    document.getElementById("customer_address_city").value = e.choice.data_obj.cityName;
    document.getElementById("customer_address_city").readOnly = true;
    document.getElementById("customer_address_street").value = e.choice.data_obj.streetName;
    document.getElementById("customer_address_street").readOnly = true;
    document.getElementById("customer_address_post_office").value = e.choice.data_obj.parentCityName;
    document.getElementById("customer_address_post_office").readOnly = true;
    document.getElementById("customer_address_house").focus();
  });


  $('#customer_c_address_select2teryt_items').select2({ 
    minimumInputLength: 5,
    allowClear: false,
    ajax: {
      url: "/api_teryt/items.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 30,
          page: page
        };
      },
      results: function(data, page) {
        var more = (page * 30) < data.total;
        var items = $.map(data.items, function(item, i) {
          //return { data_obj: item, id: item.id, text: item.cityName };
          return { data_obj: item, id: item.combineId };
        });
        return { results: items, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/api_teryt/items/"+id+".json", function(data_from_json) {
          if(data_from_json)
            //callback({ data_obj: data_from_json, id: data_from_json.id, text: 'data_from_json.cityName' });
            callback({ data_obj: data_from_json, id: data_from_json.combineId });
        });
      }
    },
    formatResult: addressFormatResult, // omitted for brevity, see the source of this page
    formatSelection: addressFormatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
  })
  .on("select2-selecting", function(e) {
     //document.getElementById("customer_lives_in_poland").value = true;
    document.getElementById("customer_c_province_name").value = e.choice.data_obj.provinceName;
    document.getElementById("customer_c_province_code").value = e.choice.data_obj.provinceCode;
    document.getElementById("customer_c_district_name").value = e.choice.data_obj.districtName;
    document.getElementById("customer_c_district_code").value = e.choice.data_obj.districtCode;
    document.getElementById("customer_c_commune_name").value = e.choice.data_obj.communeName;
    document.getElementById("customer_c_commune_code").value = e.choice.data_obj.communeCode;
    document.getElementById("customer_c_city_name").value = e.choice.data_obj.cityName;
    document.getElementById("customer_c_city_code").value = e.choice.data_obj.cityCode;
    document.getElementById("customer_c_city_parent_name").value = e.choice.data_obj.parentCityName;
    document.getElementById("customer_c_city_parent_code").value = e.choice.data_obj.parentCityCode;
    document.getElementById("customer_c_street_name").value = e.choice.data_obj.streetName;
    document.getElementById("customer_c_street_code").value = e.choice.data_obj.streetCode;
    document.getElementById("customer_c_street_attribute").value = e.choice.data_obj.streetAttribute;
    if(e.choice.data_obj.postCode) {
      document.getElementById("customer_c_post_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_c_post_code_numbers").value = e.choice.data_obj.postCodeNumbers;

      document.getElementById("customer_c_address_postal_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_c_address_postal_code").readOnly = true;
    } else {
      document.getElementById("customer_c_post_code").value = "";
      document.getElementById("customer_c_post_code_numbers").value = "";

      document.getElementById("customer_c_address_postal_code").value = "";
      document.getElementById("customer_c_address_postal_code").readOnly = false;
    };
    document.getElementById("customer_c_address_city").value = e.choice.data_obj.cityName;
    document.getElementById("customer_c_address_city").readOnly = true;
    document.getElementById("customer_c_address_street").value = e.choice.data_obj.streetName;
    document.getElementById("customer_c_address_street").readOnly = true;
    document.getElementById("customer_c_address_post_office").value = e.choice.data_obj.parentCityName;
    document.getElementById("customer_c_address_post_office").readOnly = true;
    document.getElementById("customer_c_address_house").focus();
 });


});

