//document.addEventListener('turbolinks:load', function() {
$(document).ready(function() {

  $('.province_select').select2({
    minimumInputLength: 0,
    allowClear: false,
    ajax: {
      url: "/pit_teryt/provinces_select2_index.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 16,
          page: 1
        };
      },
      results: function(data, page) {
        //var more = (page * 16) < data.total_count;
        var more = (page * 16) < data.meta.total_count;
        var provinces = $.map(data.provinces, function(province, i) {
          return { id: province.id, text: province.name };
        });
        return { results: provinces, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/pit_teryt/provinces/"+id+".json", function(data_from_json) {
          if(data_from_json)
            callback({ id: data_from_json.id, text: data_from_json.name });
        });
      }
    },
    dropdownCssClass: "bigdrop"
  });





  function markMatchOneWord (text, term) {
    if (text) {

      // Find marked before, find class <span class='select2-rendered__match'>
      var marker_before_index = text.indexOf( "select2-rendered__match" );
      // Find where the match is
      if (marker_before_index >= 0) {
        return text;
      } else {
        // Find where the match is
        var match = text.toUpperCase().indexOf(term.toUpperCase());
        // If there is no match
        if (match < 0) {
          return text;
        } else {
          // text is before the match
          var leftStr = text.substring(0, match);
          // matched text
          var matchStr = "<span class='select2-rendered__match'>" + text.substring(match, match + term.length) + "</span>";
          // text after the match
          rightStr = text.substring(match + term.length);
          return leftStr + matchStr + rightStr;
        }
      }
    } else {
      return "";
    }
  };

  function markMatch (text, term) {
    var separateWords = term.split(" ");
    var allMatchedStr = text;
    separateWords.forEach (function(e) {
      allMatchedStr = markMatchOneWord (allMatchedStr, e);
    }); 
    return allMatchedStr
  };

  function itemFormatResult(item, container, query, escapeMarkup) {
    if (item.id) {
      var cityName = markMatch(item.data_obj.cityName, query.term);
      if (item.data_obj.cityName !== item.data_obj.cityParentName) {
        var cityName = cityName + "(" + markMatch(item.data_obj.cityParentName, query.term) + ")";
      };

      if (item.data_obj.postCodeNumbers) {
        var postNumbers = "&nbsp&nbsp<small>numery:&nbsp" + item.data_obj.postCodeNumbers + "</small>";
      } else {
        var postNumbers = "";
      };

      var provinceName = markMatch(item.data_obj.provinceName, query.term);
      var districtName = markMatch(item.data_obj.districtName, query.term);
      var communeName = markMatch(item.data_obj.communeName, query.term);
      var postCode = markMatch(item.data_obj.postCode, query.term);

      if (item.data_obj.streetName) {
        var streetName =  ", <small>" + item.data_obj.streetAttribute + "</small> " + markMatch(item.data_obj.streetName, query.term);
      } else {
        var streetName = "";
      };

      return "<div>" + 
                        cityName + streetName  +  "<div class='pull-right'>&nbsp" + provinceName + "</div><br>" + 
                        postCode + postNumbers +  "<div class='pull-right'>&nbsp" + districtName + "</div><br>" +
                        item.data_obj.cityType +  "<div class='pull-right'>&nbsp" + communeName + "</div>" +
             "</div>";

    } else {
      return "";
    }
  };

  function itemFormatSelection(item) {
    if (item.id) {
      var cityName = item.data_obj.cityName;
      if (item.data_obj.cityName !== item.data_obj.cityParentName) {
        var cityName = cityName + "&nbsp(" + item.data_obj.cityParentName + ")";
      };

      if (item.data_obj.postCode) {
        var postCode = ",&nbsp" + item.data_obj.postCode; 
      } else {
        var postCode = "";
      };

      if (item.data_obj.streetName) {
        var streetName =  ",&nbsp<small>" + item.data_obj.streetAttribute + "</small>&nbsp" + item.data_obj.streetName;
      } else {
        var streetName = "";
      };

      return  '<div>' + cityName + streetName + postCode + 
              '<span class="small pull-right">' + item.data_obj.cityType + '&nbsp[&nbsp' + item.data_obj.provinceName + 
              ',&nbsp' + item.data_obj.districtName + 
              ',&nbsp' + item.data_obj.communeName + '&nbsp]</span></div>';
    } else {
      return "";
    }
  };
 
  $('#customer_address_select2teryt_items').select2({ 
    minimumInputLength: 5,
    allowClear: false,
    ajax: {
      url: "/pit_teryt/items.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 30,
          page: page -1
          //Uwaga! sztuczna mrowka gdyż API PitTeryt zle obsluguje paginacje
        };
      },
      results: function(data, page) {
        var more = (page * 30) < data.meta.totalCount;
        var items = $.map(data.items, function(item, i) {
          //return { data_obj: item, id: item.id, text: item.cityName };
          return { data_obj: item, id: item.id };
        });
        return { results: items, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/pit_teryt/items/"+id+".json", function(data_from_json) {
          if(data_from_json)
            //callback({ data_obj: data_from_json, id: data_from_json.id, text: 'data_from_json.cityName' });
            callback({ data_obj: data_from_json, id: data_from_json.id });
        });
      }
    },
    formatResult: itemFormatResult, // omitted for brevity, see the source of this page
    formatSelection: itemFormatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
  })
  .on("select2-selecting", function(e) {
    //document.getElementById("customer_lives_in_poland").value = true;
    //document.getElementById("customer_address_id").value = e.choice.data_obj.id;
    document.getElementById("customer_teryt_code").value = e.choice.data_obj.terytId;
    document.getElementById("customer_province_name").value = e.choice.data_obj.provinceName;
    document.getElementById("customer_province_code").value = e.choice.data_obj.provinceCode;
    document.getElementById("customer_district_name").value = e.choice.data_obj.districtName;
    document.getElementById("customer_district_code").value = e.choice.data_obj.districtCode;
    document.getElementById("customer_commune_name").value = e.choice.data_obj.communeName;
    document.getElementById("customer_commune_code").value = e.choice.data_obj.communeCode;
    document.getElementById("customer_city_name").value = e.choice.data_obj.cityName;
    document.getElementById("customer_city_code").value = e.choice.data_obj.cityCode;
    document.getElementById("customer_city_parent_name").value = e.choice.data_obj.cityParentName;
    document.getElementById("customer_city_parent_code").value = e.choice.data_obj.cityParentCode;
    document.getElementById("customer_street_name").value = e.choice.data_obj.streetName;
    document.getElementById("customer_street_code").value = e.choice.data_obj.streetCode;
    document.getElementById("customer_street_attribute").value = e.choice.data_obj.streetAttribute;
    if(e.choice.data_obj.postCode) {
      document.getElementById("customer_post_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_post_code_numbers").value = e.choice.data_obj.postCodeNumbers;

      document.getElementById("customer_address_postal_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_address_postal_code").readOnly = true;
    } else {
      document.getElementById("customer_post_code").value = "";
      document.getElementById("customer_post_code_numbers").value = "";

      document.getElementById("customer_address_postal_code").value = "";
      document.getElementById("customer_address_postal_code").readOnly = false;
    };
    document.getElementById("customer_address_city").value = e.choice.data_obj.cityName;
    document.getElementById("customer_address_city").readOnly = true;
    document.getElementById("customer_address_street").value = e.choice.data_obj.streetName;
    document.getElementById("customer_address_street").readOnly = true;
    document.getElementById("customer_address_post_office").value = e.choice.data_obj.cityParentName;
    document.getElementById("customer_address_post_office").readOnly = true;
    document.getElementById("customer_address_house").focus();
  });




  $('#customer_c_address_select2teryt_items').select2({ 
    minimumInputLength: 5,
    allowClear: false,
    ajax: {
      url: "/pit_teryt/items.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 30,
          page: page -1
          //Uwaga! sztuczna mrowka gdyż API PitTeryt zle obsluguje paginacje
        };
      },
      results: function(data, page) {
        var more = (page * 30) < data.meta.totalCount;
        var items = $.map(data.items, function(item, i) {
          //return { data_obj: item, id: item.id, text: item.cityName };
          return { data_obj: item, id: item.id };
        });
        return { results: items, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/pit_teryt/items/"+id+".json", function(data_from_json) {
          if(data_from_json)
            //callback({ data_obj: data_from_json, id: data_from_json.id, text: 'data_from_json.cityName' });
            callback({ data_obj: data_from_json, id: data_from_json.id });
        });
      }
    },
    formatResult: itemFormatResult, // omitted for brevity, see the source of this page
    formatSelection: itemFormatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
  })
  .on("select2-selecting", function(e) {
    //document.getElementById("customer_lives_in_poland").value = true;
    //document.getElementById("customer_address_id").value = e.choice.data_obj.id;
    document.getElementById("customer_c_teryt_code").value = e.choice.data_obj.terytId;
    document.getElementById("customer_c_province_name").value = e.choice.data_obj.provinceName;
    document.getElementById("customer_c_province_code").value = e.choice.data_obj.provinceCode;
    document.getElementById("customer_c_district_name").value = e.choice.data_obj.districtName;
    document.getElementById("customer_c_district_code").value = e.choice.data_obj.districtCode;
    document.getElementById("customer_c_commune_name").value = e.choice.data_obj.communeName;
    document.getElementById("customer_c_commune_code").value = e.choice.data_obj.communeCode;
    document.getElementById("customer_c_city_name").value = e.choice.data_obj.cityName;
    document.getElementById("customer_c_city_code").value = e.choice.data_obj.cityCode;
    document.getElementById("customer_c_city_parent_name").value = e.choice.data_obj.cityParentName;
    document.getElementById("customer_c_city_parent_code").value = e.choice.data_obj.cityParentCode;
    document.getElementById("customer_c_street_name").value = e.choice.data_obj.streetName;
    document.getElementById("customer_c_street_code").value = e.choice.data_obj.streetCode;
    document.getElementById("customer_c_street_attribute").value = e.choice.data_obj.streetAttribute;
    if(e.choice.data_obj.postCode) {
      document.getElementById("customer_c_post_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_c_post_code_numbers").value = e.choice.data_obj.postCodeNumbers;

      document.getElementById("customer_c_address_postal_code").value = e.choice.data_obj.postCode;
      document.getElementById("customer_c_address_postal_code").readOnly = true;
    } else {
      document.getElementById("customer_c_post_code").value = "";
      document.getElementById("customer_c_post_code_numbers").value = "";

      document.getElementById("customer_c_address_postal_code").value = "";
      document.getElementById("customer_c_address_postal_code").readOnly = false;
    };
    document.getElementById("customer_c_address_city").value = e.choice.data_obj.cityName;
    document.getElementById("customer_c_address_city").readOnly = true;
    document.getElementById("customer_c_address_street").value = e.choice.data_obj.streetName;
    document.getElementById("customer_c_address_street").readOnly = true;
    document.getElementById("customer_c_address_post_office").value = e.choice.data_obj.cityParentName;
    document.getElementById("customer_c_address_post_office").readOnly = true;
    document.getElementById("customer_c_address_house").focus();
  });


});
