$font-family-base: Arial, "Helvetica", sans-serif;
//$font-size-base: 14px;
//$font-size-base: 12px;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";


@import "font-awesome-sprockets";
@import "font-awesome";
  
//bez tego nie wyswietla icon nawigacji po lewej stronie w GoogleMaps
#map img {
  max-width: none;
}

//blokuje wyswietlanie icon "trojkat"
//table.dataTable thead .sorting_asc { background: none }
//table.dataTable thead .sorting_desc { background: none }
//table.dataTable thead .sorting { background: none }

//blokuje wyswietlanie icon "drzewko"
.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}

//tr {
//  background-color: #ccc
//}
//tr:hover{
//  background-color: #eee
//}
//td:hover {
//  background-color: #ddd
//}

//koloruje ikonki typu strzalka drabinka 
//.dataTable > thead > tr > th[class*="sorting_asc"]:after{
//  color: #337ab7 !important;
//  opacity: 1;
//}
//.dataTable > thead > tr > th[class*="sorting_desc"]:after{
//  color: #337ab7 !important;
//  opacity: 1;
//}

body {
  background-color: #eee;
  line-height: 1em;
}

//h5 {
//  margin-top: 0em;
//  margin-bottom: 1.1em;
//}


pre {
    display: block;
    //font-family: monospace;
    font-size: 6px;
    letter-spacing: 0px;
    white-space: pre;
    margin: 0 0;
    padding: 0;
    border: none;
    line-height: 1.0;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}


.hr-without-top-margin {
  margin-top: 0px;  /*default: 20px; */
  margin-bottom: 10px;
}

.hr-without-margins {
  margin-top: 3px;  /*default: 20px; */
  margin-bottom: 0px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;  
}

.panel-user {
  border-color: #ddd  
}
.panel-user > .panel-heading {
  background: #a4bacc;
  color: white; 
}

.panel-role {
  border-color: #ddd  
}
.panel-role > .panel-heading {
  background: #616aa2; //#5E703F; 
  color: white; 
}

.panel-department {
  border-color: #ddd  
}
.panel-department > .panel-heading {
  background: #5d719e; 
  color: white; 
  //opacity: 0;
}

.panel-customer {
  border-color: #ddd  
}
.panel-customer > .panel-heading {
  background: #528394;  
  color: white; 
}

.panel-exam {
  border-color: #ddd  
}
.panel-exam > .panel-heading {
  background: #4e7f5f; //#7fc196;
  color: white; 
}

.panel-certificate {
  border-color: #ddd  
}
.panel-certificate > .panel-heading {
  background: #4f8989; //#98b9c4;
  color: white; 
}

 
.panel-examination {
  border-color: #ddd  
}
.panel-examination > .panel-heading {
  background: #446161; 
  color: white; 
}

.panel-attach {
  border-color: #ddd  
}
.panel-attach > .panel-heading {
  background: #89877a; //#5E5E5E;
  color: white; 
}

.panel-work {
  border-color: #ddd  
}
.panel-work > .panel-heading {
  background: #DCDCDC; //Gainsboro  
  color: black; 
}

.panel-print {
  border-color: #ddd  
}
.panel-print > .panel-heading {
  background: #777777;
  color: white; 
}


.color-section-applicant-top {
  padding-top: 15px;
  margin-top: -15px;
  //background: Ivory; //#E6E6B8;
  background: #FCFCFC;
  color: black; 
}

.color-section-applicant {
  padding-top: 15px;
  margin-top: -15px;
  padding-bottom: 3px;
  margin-bottom: -3px;
  background: #FCFCFC;
  color: black; 
}

.color-section-enduser-top {
  padding-top: 15px;
  margin-top: -15px;
  //background: #F6F6E0;
  background: #F8F8F8;
  color: black; 
}

.color-section-enduser {
  padding-top: 15px;
  margin-top: -15px;
  padding-bottom: 3px;
  margin-bottom: -3px;
  background: #F8F8F8;
  color: black; 
}

.color-section-station-top {
  padding-top: 15px;
  margin-top: -15px;
  //background: #E6E6B8; //Ivory;
  background: #F4F4F4;
  color: black; 
}

.color-section-station {
  padding-top: 15px;
  margin-top: -15px;
  padding-bottom: 3px;
  margin-bottom: -3px;
  background: #F4F4F4;
  color: black; 
}


.breadcrumb {
  margin-top: -9px;
  margin-bottom: 1px; 
  background-color: #eee;
}

.popover-title {
    color: white;
    background-color: #00AB92; //#E4FDE4; //#D5D5D5; //#00A2B7; //#555;
    font-size: 16px;
}
.popover-content {
    color: #555;
    background-color: #F8F8F8; //#E4FDE4; #dff0d8;
    font-size: 14px;
}

$FooterBackground       : #F8F8F8;  
$FooterColor            : #777;  
$FooterBorder           : #E7E7E7;       


.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}


.pre-footer2 {
  background-image: image-url("working.jpg");
  background-color: #333;
  color: #ddd;
  padding-bottom: 30px;
  width: 100%;
  height: 50%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.pre-footer2 .btn-link {
  color: #ddd;
  text-decoration: none;
};
.pre-footer2 .btn-link:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
};
.pre-footer2 .btn-link:active {
  text-decoration: none;
};
.modal .modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

footer {
  background-color: $FooterBackground;
  border-color: $FooterBorder;
  color: $FooterColor;
  padding-top: 30px;
  padding-bottom: 30px;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 15px;
  font-size: 12px;
  width: 100%;
  margin-top: 52px; // accommodate the navbar 51, 52 if hover:border-bottom 
  }

section {
  @extend .row;
  margin-top: 20px;
  }

.authpanel {
  padding-top: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.authpanel fieldset {
  @extend .well;
}







.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.button-xs-danger {
  @extend .button-xs;
  @extend .btn-danger;
}

.button-xs-success {
  @extend .button-xs;
  @extend .btn-success;
}






#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

.field_with_errors {
  @extend .has-error;
  display: inherit;
  background-color: inherit;
}


a .img-thumbnail {
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.55);
  box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.55);
}  

a .img-thumbnail:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);

  -webkit-box-shadow: 18px 18px 10px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 18px 18px 10px 0px rgba(0,0,0,0.55);
  box-shadow: 18px 18px 10px 0px rgba(0,0,0,0.55);

}


/* ----- Btn-group for ribbon -----------------------------------*/ 
$RibbonBackground : #439B43;

#btn-group-prnscope { 
  .btn.active, .btn:active {
    color: white;
    background-color: darken( $RibbonBackground, 10% );
  };
}

$RibbonOrderBackground : #9C4BE6;
#btn-group-prnorder { 
  .btn.active, .btn:active {
    color: white;
    background-color: darken( $RibbonOrderBackground, 10% );
  };
}


/* ----- Ribbon II Block ---------------------------------------*/ 

.folded h3 {
    background: $RibbonBackground;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 13px;
  //font-size: 14px;
  //font-weight: bold;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}
.folded:before, div.folded:after {
    bottom: 26px;
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
.folded h3 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 4px 25px;
    position: absolute;
    right: 2px;
    margin-top: -16px;
}
.folded h3:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}




.folded-purple h3 {
    background: $RibbonOrderBackground;
    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: 13px; 
  //font-size: 14px;
  //font-weight: bold;
    position: relative;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}

.folded-purple h3 {
    border-width: 1px 1px 2px;
    margin: 0;
    padding: 4px 20px;
    position: absolute;
    right: 2px;
    margin-top: 25px; // !!!!!!!!!!!
}
.folded-purple h3:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}
