<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.png'].url %>
    <h3>Witaj <%= @user.name %> (<%= @user.email %>)!</h3>
		<p>Została zgłoszona prośba o zresetowanie hasła w programie NetPAR. Można to zrobić klikając w link poniżej.</p>
		<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>
		<br>
		<p>Zignoruj tę wiadomość jeżeli nie chcesz zmieniać hasła.</p>
		<br>
		<hr>
		<p><small>
			Ta wiadomość została wysłana autoamtycznie. Proszę nie odpisywać.
		</small></p>
		<hr>
  </body>
</html>
