<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['logo.jpg'].url, size: "256x128" %>
    <br>
    <h3>Witaj <%= @user.name %> (<%= @user.email %>)!</h3>
    <p>Została zgłoszona prośba o zresetowanie hasła w programie <strong>NetPAR 2015</strong>.</p> 
    <p>Można to zrobić klikając w link: <%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>
    <br>
    <p>Zignoruj tę wiadomość jeżeli nie chcesz zmieniać hasła.</p>
    <br>
    <hr>
    <p><small>
      Ta wiadomość została wysłana automatycznie. Proszę nie odpisywać.
    </small></p>
    <hr>
  </body>
</html>
