  <div class="col-sm-12">
    <table id="exam-certificates" class="hover cell-border compact" data-source="<%= datatables_index_exam_certificates_path(exam_id: @exam.id, format: :json) %>">
      <thead>
        <tr>
          <th> 0 ID </th>
          <th> 1 IMAGE-PATH</th>
          <th> 2 Number</th>
          <th> 3 Date of issue</th>
          <th> 4 Valid thru</th>
          <th> 5 certificate_status</th>
          <th> 6 division.name</th>
          <th> 7 customer.fullname</th>
          <th> 8 Category</th>
          <th> 9 Akcje</th>
        </tr>
      </thead>

      <tbody>
         <!--data from JSON -->
      </tbody>
    </table>
  </div> <!--/col-sm-12 -->


  <div class="col-sm-12">
    <div class="row">

      <% if certificate_policy_check(:certificate, params[:category_service], 'new') %>
        <%= link_to t('New', default: t("helpers.links.new")), new_certificate_path(params[:category_service], exam_id: @exam.id, back_url: exam_path(params[:category_service], @exam) ), 
                              :class => 'btn btn-primary glyphicon glyphicon-plus' %> 
      <% end  %> 

    </div> <!--/row -->
  </div> <!--/col-sm-12 -->
