<div class="fields">
  <div class='row' >
    <div class="form-group required col-sm-9">
      <%= f.select :division_id, 
            Division.only_category_scope("#{params[:category_service]}").only_not_exclude_for_internet.order(:short_name).collect {|v| [ "#{v[:short_name]}", v[:id] ] },
            { include_blank: false }, 
            { autofocus: false, class: 'form-control input-sm' } %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.hidden_field :_destroy %>
      <%= link_to t("helpers.links.link_to_remove_fields_nested"), '#',
        onClick: "removeNestedFields(this); return false;", class: 'remove-link-button btn btn-sm btn-danger' %>
    </div>

  </div>

</div>

