  <div class="col-sm-12">
    <table id="exam-examinations" class="hover cell-border compact" data-source="<%= datatables_index_exam_examinations_path(exam_id: @exam.id, format: :json) %>">
      <thead>
        <tr>
          <th> 0 ID </th> 
          <th> 1 IMAGE-PATH</th>
          <th> 2 customer.fullname</th>
          <th> 3 exam_category</th>
          <th> 4 division.name</th>
          <th> 5 supplementary</th>
          <th> 6 exam_result</th>
          <th> 7 note</th>
          <th> 8 certificate.number</th>
          <th> 9 Category</th>
          <th>10 Akcje</th>
        </tr>
      </thead>

      <tbody>
         <!--data from JSON -->
      </tbody>
    </table>
  </div> <!--/col-sm-12 -->


  <div class="col-sm-12">
    <div class="row">

      <% if examination_policy_check(:examination, params[:category_service], 'new') %>
        <%= link_to t('New', default: t("helpers.links.new")), new_examination_path(params[:category_service], exam_id: @exam.id, back_url: exam_path(params[:category_service], @exam) ), 
                              :class => 'btn btn-primary glyphicon glyphicon-plus' %> 
      <% end  %> 

      <% if @exam.examinations.where(examination_result: 'P', certificate: nil).any? && certificate_policy_check(:certificate, params[:category_service], 'new') %>
        <button id="exam-examinations-certificate-generation-and-refresh" ajax-path="<%= certificates_generation_exam_path(params[:category_service], @exam) %>" class="btn btn-success glyphicon glyphicon-certificate pull-right"><%= t('Certificate Generation', default: t("link_to.certificates_generation")) %></button>
      <% end  %> 

    </div> <!--/row -->
  </div> <!--/col-sm-12 -->
