  <div class="col-sm-12">
    <table id="exam-proposals" class="hover cell-border compact" width="100%" data-source="<%= datatables_index_exam_proposals_path(exam_id: @exam.id, format: :json) %>">
      <thead>
        <tr>
          <th> 0 ID </th>
          <th> 1 proposal_status.name</th>
          <th> 2 Name</th>
          <th> 3 Given names</th>
          <th> 4 Pesel</th>
          <th> 5 Birth date</th>
          <th> 6 City name</th>
          <th> 7 division.name</th>
          <th> 8 Category</th>
          <th> 9 Akcje</th>
        </tr>
      </thead>

      <tbody>
         <!--data from JSON -->
      </tbody>
    </table>
  </div> <!--/col-sm-12 -->

