<div class="col-sm-12">
  <h3><span class="glyphicon glyphicon-education" aria-hidden="true"> 
    <%= t "pages.exam_#{params[:category_service]}.index.title" %>  
    </span>
  </h3>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <table id="exams" class="hover cell-border" width="100%" data-source="<%= datatables_index_exams_path(format: :json) %>">
    <thead>
      <tr>
        <th> 0 ID </th>
        <th> 1 IMAGE-PATH</th>
        <th> 2 esod_matter.znak</th>
        <th> 3 Number</th>
        <th> 4 Date exam</th>
        <th> 5 Place exam</th>
        <th> 6 Chairman</th>
        <th> 7 Secretary</th>
        <th> 8 examinations_count</th>
        <th> 9 certificates_count</th>
        <th>10 Category</th>
      </tr>
    </thead>

    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <div class="row">

    <% if exam_policy_check(:exam, params[:category_service], 'new') %>
      <%= link_to t('New', default: t("helpers.links.new")), new_exam_path(params[:category_service], back_url: exams_path(params[:category_service])), 
                          :class => 'btn btn-primary glyphicon glyphicon-plus' %> 
    <% end %>

  </div> <!--/row -->
</div> <!--/col-sm-12 -->
