<div class="col-sm-12">

  <div class="row">  <!--dla Świadectwa -->
    <div class="col-sm-2">
      <p class="lead">Sesja egzaminacyjna</p>
    </div><!-- /.col-sm-2 -->
  
    <% if examination_policy_check(:examination, params[:category_service], 'print') %>
      <div class="col-sm-2">
        <%= link_to image_tag("examination_card_#{params[:category_service]}.jpg", :class => "img-thumbnail" ), 
              examination_card_to_pdf_examination_path(@examination, category_service: @examination.exam.category.downcase, :format => "pdf"), 
              :target => "_blank" %>  

        <h5>Karta egzaminacyjna</h5>
      </div><!-- /.col-sm-2 -->
    <% end %>

  </div class="row">  <!--/dla Świadectwa -->


</div> <!--/col-sm-12 -->
